/*Estilos da página index2.html*/
.center{
    text-align: center;
}

.container{
    display: table-caption;
  
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menu li{
    display: inline;
    padding: 30px;
    
}

#menu li a{
text-decoration:none;
color:black;
}

#menu li a:hover{
color: hotpink;
}
#titulo h1 {
    text-decoration:none;
    color: black;
}
#titulo h1{
    color: hotpink;
}
/*Estilos da página contato2.html*/